doctype html
html(lang="ko")
  head
    link(href="../static/css/check.css" rel="stylesheet")
    // Required meta tags
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Bootstrap CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    script(src="../static/js/check.js")
    title 결제하기
  body
    .wrapper
      #top1 카드결제
      #top2
        | 주문수량 
        span(style="color:red")=`${order["quantity"]}`
        |  결제금액 
        span(style="color:red")=`${order["price"]}`
      img(src="static/picture/insert_card.gif" alt="" width="330")
      img
      br
      h1(align="center" style="font-size: 35px") IC카드를 투입구에 넣어주세요.
      br
      h5(style="color: red; font-size:20px" align="center") 30초내로 삽입이 안될경우 결제가 취소됩니다!!!
      br
      #showTime
      br
      // <h3 id="time" align="center">00:30</h3>
      button.btn.btn-primary.btn-lg.btn-block(type="button" onclick="fail_message()") 취소
      br
      .card_insert(style="text-align: center")
        a.btn(href="#pop1" onclick="open_checking_popup()") 카드삽입
      #checking.popup
        .popup-content
          #popup_top1
          br
          br
          .body
            br
            br
            br
            br
            #popup_top2 승인요청중입니다.잠시만 기다려주세요
            br
            br
            br
            br
            #popup_top3 결제가 끝날때까지 카드를 뽑지 말아주세요
      #checkpoint.popup
        .popup-content
          #checkpoint_top1
          br
          br
          br
          br
          br
          br
          div(style="text-align: center;font-size: 15px;line-height:5px") 터칭 제휴 적립을 진행하시겠습니까?
          br
          br
          br
          #button
            button.btn.btn-secondary.btn-lg(type="button" onclick="change_to_checkpoint()") 예
            button.btn.btn-primary.btn-lg(type="button" onclick="change_to_complete()") 아니요
      #cancle.popup
        .popup-content(style="border: 3px solid black")
          #cancle_top1(style="font-size: 30px; text-align: center") 영수증
          div
            div(style="font-size: 30px;text-align: center") 주문번호 : 104번
            div(style="font-size: 15px;text-align: center")
              div=`주문 고유번호 : ${order["id"]}`
              div=`${timestr}`
              div=`매장번호 : ${order["storeNum"]}`
              div=`주문번호 : ${order["orderNum"]}`
              br
            div(style="text-align: center;font-size: 20px;")
              -Menus=JSON.parse(order["menus"])
              each one in Menus
                div=`${one["name"]} ${one["quantity"]}개: ${one["price"]}원`
              div ------------------------------------------
              div=`총합계 : ${order["price"]}원`
              div=`총수량 : ${order["quantity"]}개`
      #cancle1.popup1
        .popup-content
          #cancle_top1
          br
          br
          br
          br
          br
          br
          div(style="text-align: center;font-size: 25px") 결제가 취소되었습니다.
    .data
      input(type="text" id="order" value=`${JSON.stringify(order)}` hidden)